body {
    font-family: sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px;
    color: #fff;
    background: #02615a;
    border-radius: 5px;
    margin-bottom: 15px;
}