[data-ui-control="SlideShow"] {
    padding: 0;
}

[data-ui-control="SlideShow"] li {
    display: none;
}

[data-ui-control="SlideShow"] li img {
    width: 500px;
    height: 300px;
}

[data-ui-control="SlideShow"] li.state-selected {
    display: block;
}